/* PageFly Element Styles */
						.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.dxrmGe { display: inline-flex; vertical-align: middle; }
.dxrmGe picture { width: 100%; border-radius: inherit; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.iVVzrr { position: relative; list-style: inherit; margin: 0 0 var(--line-spacing); }
.iVVzrr:last-child { margin: 0px; }
.iVVzrr::before { content: ""; display: inline-block; width: var(--text-indent); }
.iVVzrr > i { padding: 5px; margin-right: 5px; }
.iVVzrr > span { display: inline; }
.bMMcvF { margin: 0px; padding: 10px; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-4e03521a {
		text-align: center;
		 font-family: "Source Sans Pro";
		 font-size: 48px;
		 margin-bottom: 0px;
		 color: rgb(255, 255, 255);
		 letter-spacing: 0.5px;
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-70dfd6bd {
		background-position: 50% 50%;
		 background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-fb13aa51--Mountains-from-the-campsite.jpg?v=1599703786");
		 background-size: cover;
		 padding-top: 220px;
		 padding-bottom: 220px;
	}
	.__pf .pf-f9b0be5c {
		font-family: "Source Sans Pro";
		 font-size: 14px;
		 padding-left: 50px;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-3cf8b92a {
		padding-bottom: 0px;
		 padding-top: 15px;
	}
	.__pf .pf-6a71dc00 {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-top: 20px;
		 margin-bottom: 0px;
		 font-family: "Source Sans Pro";
		 font-size: 22px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
	}
	.__pf .pf-973bca03 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-e194a046 {
		font-family: "Source Sans Pro";
		 margin: 0px 50px -20px;
		 font-weight: 700;
		 text-align: left;
		 padding-top: 0px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 font-size: 28px;
	}
	.__pf .pf-75e4b57b {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-db1b01d3 {
		font-family: "Source Sans Pro";
		 margin: 0px 50px;
		 font-weight: 700;
		 text-align: left;
		 font-size: 24px;
		 padding-top: 0px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-01d3945b {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Source Sans Pro";
		 font-size: 20px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
	}
	.__pf .pf-f1a6c58a {
		padding-top: 0px;
		 padding-bottom: 0px;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-c38d8cc1 {
		width: 100%;
		 height: auto;
		 margin-left: 50px;
		 padding-right: 100px;
	}
	.__pf .pf-8f1f127f {
		text-align: center;
	}
	.__pf .pf-a865c38d {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-f9a9d36d {
		font-family: "Source Sans Pro";
		 margin: 0px 50px;
		 font-weight: 700;
		 text-align: left;
		 font-size: 24px;
		 padding-top: 0px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-d36d7b84 {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Source Sans Pro";
		 font-size: 20px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
	}
	.__pf .pf-e55949ae {
		padding-top: 0px;
		 padding-bottom: 0px;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-6ee527bc {
		font-family: "Source Sans Pro";
		 margin: 0px 0px 0px 50px;
		 font-size: 20px;
		 font-weight: 700;
		 text-align: left;
		 line-height: 2em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-7322d7cd {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-d7cdcd00 {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-cd008c9d {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-dc4189f0 {
		list-style-position: outside;
		 list-style-type: disc;
		 padding-left: 70px;
		 font-family: "Source Sans Pro";
		 font-size: 18px;
	}
	.__pf .pf-f597dcf8 {
		font-family: "Source Sans Pro";
		 margin: 0px;
		 font-size: 20px;
		 font-weight: 700;
		 text-align: left;
		 line-height: 2em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-260d7cf8 {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-7cf89c16 {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-9c164a02 {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-7aad5e23 {
		list-style-position: outside;
		 list-style-type: disc;
		 font-family: "Source Sans Pro";
		 font-size: 18px;
		 padding-right: 50px;
		 padding-left: 30px;
	}
	.__pf .pf-4d81e47d {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-127f01d8 {
		width: 100%;
		 height: auto;
		 margin-left: 50px;
		 padding-right: 100px;
	}
	.__pf .pf-01d8ddf7 {
		text-align: center;
	}
	.__pf .pf-25a38847 {
		padding-top: 0px;
	}
	.__pf .pf-413d0048 {
		font-family: "Source Sans Pro";
		 margin: 0px 50px;
		 font-weight: 700;
		 text-align: left;
		 padding-top: 0px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 font-size: 28px;
	}
	.__pf .pf-56ba14b1 {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Source Sans Pro";
		 font-size: 20px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 padding-top: 20px;
	}
	.__pf .pf-8e6bac3c {
		padding-top: 0px;
		 padding-bottom: 0px;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-c8332468 {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Source Sans Pro";
		 font-size: 20px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
	}
	.__pf .pf-7bb9c0f2 {
		font-family: "Source Sans Pro";
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
		 font-size: 18px;
	}
	.__pf .pf-c0f2194b {
		font-family: "Source Sans Pro";
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
		 font-size: 18px;
	}
	.__pf .pf-194bad63 {
		font-family: "Source Sans Pro";
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
		 font-size: 18px;
	}
	.__pf .pf-520284da {
		list-style-position: outside;
		 list-style-type: decimal;
		 padding-left: 0px;
		 font-family: "Source Sans Pro";
		 font-size: 18px;
		 margin-left: 120px;
		 margin-right: 120px;
	}
	.__pf .pf-f8f764e3 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-3ae25270 {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Source Sans Pro";
		 font-size: 20px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
	}
	.__pf .pf-5270e00d {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Source Sans Pro";
		 font-size: 20px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
	}
	.__pf .pf-e6cf3bff {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-28b9dada {
		background: rgb(245, 245, 245);
	}
	.__pf .pf-61f9ebe2 {
		font-weight: 700;
		 color: rgb(45, 45, 45);
		 font-size: 20px;
	}
	.__pf .pf-ebe225f1 {
		margin-bottom: 0px;
		 line-height: 1.4;
		 font-size: 18px;
	}
	.__pf .pf-74beabc4 {
		text-align: center;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-2ed3a0d2 {
		background: rgb(245, 245, 245);
	}
	.__pf .pf-25f13750 {
		font-weight: 700;
		 color: rgb(45, 45, 45);
		 font-size: 20px;
	}
	.__pf .pf-37503a60 {
		margin-bottom: 0px;
		 line-height: 1.4;
		 font-size: 18px;
	}
	.__pf .pf-abc413fa {
		text-align: center;
	}
	.__pf .pf-3ff15774 {
		background: rgb(245, 245, 245);
	}
	.__pf .pf-3a60eb2e {
		font-weight: 700;
		 color: rgb(45, 45, 45);
		 font-size: 20px;
	}
	.__pf .pf-eb2e2df7 {
		margin-bottom: 0px;
		 line-height: 1.4;
		 font-size: 18px;
	}
	.__pf .pf-13facc91 {
		text-align: center;
	}
	.__pf .pf-e541c04f {
		background: rgb(245, 245, 245);
	}
	.__pf .pf-2df79407 {
		font-weight: 700;
		 color: rgb(45, 45, 45);
		 font-size: 20px;
	}
	.__pf .pf-9407f588 {
		margin-bottom: 0px;
		 line-height: 1.4;
		 font-size: 18px;
	}
	.__pf .pf-cc9116f4 {
		text-align: center;
	}
	.__pf .pf-42dd3cd5 {
		font-family: "Source Sans Pro";
		 background-color: rgb(255, 255, 255);
		 font-size: 38px;
		 padding-bottom: 0px;
		 padding-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-f77c53cf {
		width: 100%;
		 height: auto;
		 margin-left: 50px;
		 padding-right: 100px;
	}
	.__pf .pf-53cfa7ce {
		text-align: center;
	}
	.__pf .pf-56b4f9f3 {
		padding-top: 0px;
	}
	.__pf .pf-2368d721 {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Source Sans Pro";
		 font-size: 20px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
	}
	.__pf .pf-e717236a {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-d1e8bcc6 {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 padding-top: 0px;
		 font-size: 20px;
	}
	.__pf .pf-05c0dca1 {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-dca18e5d {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-8e5d4f0f {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-4f0f5a33 {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-d1049290 {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-5a336346 {
		list-style-position: outside;
		 list-style-type: disc;
		 padding-left: 70px;
		 font-family: "Source Sans Pro";
		 font-size: 18px;
	}
	.__pf .pf-2e23731f {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 padding-top: 0px;
		 font-size: 20px;
	}
	.__pf .pf-c8a9df98 {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-1a931f26 {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-1f265b97 {
		list-style-position: outside;
		 list-style-type: disc;
		 padding-left: 70px;
		 font-family: "Source Sans Pro";
		 font-size: 18px;
	}
	.__pf .pf-b78fb86f {
		padding-left: 0px;
		 padding-right: 50px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 padding-top: 0px;
		 font-size: 20px;
	}
	.__pf .pf-68ccd1cd {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-d1cdcb61 {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-cb610907 {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-0907578f {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-578fdae3 {
		list-style-position: outside;
		 list-style-type: disc;
		 padding-left: 30px;
		 font-family: "Source Sans Pro";
		 font-size: 18px;
		 padding-right: 50px;
	}
	.__pf .pf-a783a325 {
		padding-left: 0px;
		 padding-right: 50px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 padding-top: 0px;
		 font-size: 20px;
	}
	.__pf .pf-2d6bcffd {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-cffd5673 {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-b26edc4a {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-b99ca69a {
		list-style-position: outside;
		 list-style-type: disc;
		 padding-left: 30px;
		 font-family: "Source Sans Pro";
		 font-size: 18px;
		 padding-right: 50px;
	}
	.__pf .pf-e858453b {
		font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 1.5em;
		 letter-spacing: 0.5px;
		 margin-top: 20px;
	}
	.__pf .pf-3a65f063 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-7242cfb2 {
		width: 100%;
		 height: auto;
		 margin-left: 50px;
		 padding-right: 100px;
	}
	.__pf .pf-cfb2528c {
		text-align: center;
	}
	.__pf .pf-f7e6a494 {
		padding-top: 0px;
	}
	.__pf .pf-99088d45 {
		font-family: "Source Sans Pro";
		 margin-top: 0px;
		 margin-right: 50px;
		 margin-left: 50px;
		 font-weight: 700;
		 text-align: left;
		 padding-top: 0px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 font-size: 28px;
	}
	.__pf .pf-dd16a3d9 {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Source Sans Pro";
		 font-size: 20px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 padding-bottom: 20px;
	}
	.__pf .pf-12ccce2e {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Source Sans Pro";
		 font-size: 20px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
	}
	.__pf .pf-38404eea {
		padding-top: 0px;
		 padding-bottom: 0px;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-88475352 {
		width: 100%;
		 height: auto;
		 margin-left: 50px;
		 padding-right: 100px;
	}
	.__pf .pf-53529a08 {
		text-align: center;
	}
	.__pf .pf-210363cc {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Source Sans Pro";
		 font-size: 22px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
	}
	.__pf .pf-63127242 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-b9ba3c4a {
		background-color: rgb(240, 127, 8);
		 color: rgb(255, 255, 255);
		 font-family: "Source Sans Pro";
		 font-size: 16px;
		 padding: 15px 30px;
		 letter-spacing: 0.3px;
		 font-weight: 700;
	}
	.__pf .pf-b9ba3c4a:hover {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
	}
	.__pf .pf-8e2d1925 {
		padding: 115px 20px;
		 background-size: cover;
		 background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/14/assets/pf-39082e30--IMG5699-1-Edited-1.jpg?v=1582652349");
	}
	.__pf .pf-3c4a8e2d {
		background-color: rgb(240, 127, 8);
		 color: rgb(255, 255, 255);
		 font-family: "Source Sans Pro";
		 font-size: 16px;
		 font-weight: 700;
		 padding: 15px 30px;
		 letter-spacing: 0.3px;
	}
	.__pf .pf-3c4a8e2d:hover {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
	}
	.__pf .pf-1925723d {
		padding: 115px 20px;
		 background-size: cover;
		 background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/14/assets/pf-34d7fad7--IMG5698-2-Edited.jpg?v=1582652497");
	}
	.__pf .pf-723d1222 {
		text-align: center;
		 font-family: "Source Sans Pro";
	}
	.__pf .pf-1222a59d {
		padding-top: 35px;
		 padding-bottom: 65px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-4e03521a {
		font-size: 25px;
	}
	.__pf .pf-70dfd6bd {
		background-position: 50% 50%;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-d1a084da--165977506290a5e25154cc-1.jpg?v=1600185830&selected");
		 padding-bottom: 100px;
		 padding-top: 100px;
	}
	.__pf .pf-f9b0be5c {
		padding-left: 0px;
	}
	.__pf .pf-6a71dc00 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-e194a046 {
		margin-top: 20px;
		 margin-left: 0px;
		 margin-right: 0px;
		 font-size: 18px;
	}
	.__pf .pf-db1b01d3 {
		font-size: 16px;
		 margin: 0px;
	}
	.__pf .pf-01d3945b {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-c38d8cc1 {
		padding-right: 0px;
		 margin-left: 0px;
	}
	.__pf .pf-f9a9d36d {
		font-size: 16px;
		 margin: 0px;
	}
	.__pf .pf-d36d7b84 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-6ee527bc {
		font-size: 16px;
		 margin-top: 0px;
		 margin-left: 0px;
	}
	.__pf .pf-7322d7cd {
		font-size: 14px;
	}
	.__pf .pf-d7cdcd00 {
		font-size: 14px;
	}
	.__pf .pf-cd008c9d {
		font-size: 14px;
	}
	.__pf .pf-dc4189f0 {
		padding-left: 30px;
		 padding-bottom: 0px;
	}
	.__pf .pf-f597dcf8 {
		font-size: 16px;
		 margin-top: 0px;
		 margin-left: 0px;
	}
	.__pf .pf-260d7cf8 {
		font-size: 14px;
	}
	.__pf .pf-7cf89c16 {
		font-size: 14px;
	}
	.__pf .pf-9c164a02 {
		font-size: 14px;
	}
	.__pf .pf-7aad5e23 {
		padding-right: 0px;
		 padding-left: 30px;
	}
	.__pf .pf-127f01d8 {
		padding-right: 0px;
		 margin-left: 0px;
	}
	.__pf .pf-25a38847 {
		padding-bottom: 0px;
	}
	.__pf .pf-413d0048 {
		margin-top: 20px;
		 margin-left: 0px;
		 margin-right: 0px;
		 font-size: 18px;
	}
	.__pf .pf-56ba14b1 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-c8332468 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-7bb9c0f2 {
		font-size: 14px;
	}
	.__pf .pf-c0f2194b {
		font-size: 14px;
	}
	.__pf .pf-194bad63 {
		font-size: 14px;
	}
	.__pf .pf-520284da {
		margin-right: 0px;
		 margin-left: 30px;
	}
	.__pf .pf-3ae25270 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-5270e00d {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-61f9ebe2 {
		font-size: 16px;
	}
	.__pf .pf-ebe225f1 {
		font-size: 14px;
	}
	.__pf .pf-25f13750 {
		font-size: 16px;
	}
	.__pf .pf-37503a60 {
		font-size: 14px;
	}
	.__pf .pf-3a60eb2e {
		font-size: 16px;
	}
	.__pf .pf-eb2e2df7 {
		font-size: 14px;
	}
	.__pf .pf-2df79407 {
		font-size: 16px;
	}
	.__pf .pf-9407f588 {
		font-size: 14px;
	}
	.__pf .pf-f77c53cf {
		padding-right: 0px;
		 margin-left: 0px;
	}
	.__pf .pf-2368d721 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-d1e8bcc6 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-05c0dca1 {
		font-size: 14px;
	}
	.__pf .pf-dca18e5d {
		font-size: 14px;
	}
	.__pf .pf-8e5d4f0f {
		font-size: 14px;
	}
	.__pf .pf-4f0f5a33 {
		font-size: 14px;
	}
	.__pf .pf-d1049290 {
		font-size: 14px;
	}
	.__pf .pf-5a336346 {
		padding-left: 20px;
	}
	.__pf .pf-2e23731f {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-c8a9df98 {
		font-size: 14px;
	}
	.__pf .pf-1a931f26 {
		font-size: 14px;
	}
	.__pf .pf-1f265b97 {
		padding-left: 20px;
	}
	.__pf .pf-b78fb86f {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-68ccd1cd {
		font-size: 14px;
	}
	.__pf .pf-d1cdcb61 {
		font-size: 14px;
	}
	.__pf .pf-cb610907 {
		font-size: 14px;
	}
	.__pf .pf-0907578f {
		font-size: 14px;
	}
	.__pf .pf-a783a325 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-2d6bcffd {
		font-size: 14px;
	}
	.__pf .pf-cffd5673 {
		font-size: 14px;
	}
	.__pf .pf-b26edc4a {
		font-size: 14px;
	}
	.__pf .pf-e858453b {
		font-size: 14px;
	}
	.__pf .pf-7242cfb2 {
		padding-right: 0px;
		 margin-left: 0px;
	}
	.__pf .pf-f7e6a494 {
		padding-bottom: 0px;
	}
	.__pf .pf-99088d45 {
		margin-top: 20px;
		 margin-left: 0px;
		 margin-right: 0px;
		 font-size: 18px;
	}
	.__pf .pf-dd16a3d9 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-12ccce2e {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-88475352 {
		width: 100%;
		 height: auto;
		 padding-right: 0px;
		 margin-left: 0px;
	}
	.__pf .pf-53529a08 {
		background-position: 0% 0%;
		 background-size: cover;
	}
	.__pf .pf-210363cc {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-8e2d1925 {
		background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/14/assets/pf-39082e30--IMG5699-1-Edited-1.jpg?v=1582652349");
	}
	.__pf .pf-1925723d {
		background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/14/assets/pf-34d7fad7--IMG5698-2-Edited.jpg?v=1582652497");
	}
	.__pf .pf-1222a59d {
		padding-top: 15px;
		 padding-bottom: 45px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-8e2d1925 {
		background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/14/assets/pf-39082e30--IMG5699-1-Edited-1.jpg?v=1582652349");
	}
	.__pf .pf-1925723d {
		background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/14/assets/pf-34d7fad7--IMG5698-2-Edited.jpg?v=1582652497");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-6a71dc00 {
		font-size: 18px;
	}
	.__pf .pf-e194a046 {
		font-size: 24px;
	}
	.__pf .pf-db1b01d3 {
		font-size: 20px;
	}
	.__pf .pf-01d3945b {
		font-size: 16px;
	}
	.__pf .pf-f9a9d36d {
		font-size: 20px;
	}
	.__pf .pf-d36d7b84 {
		font-size: 16px;
	}
	.__pf .pf-6ee527bc {
		font-size: 16px;
	}
	.__pf .pf-7322d7cd {
		font-size: 14px;
	}
	.__pf .pf-d7cdcd00 {
		font-size: 14px;
	}
	.__pf .pf-cd008c9d {
		font-size: 14px;
	}
	.__pf .pf-dc4189f0 {
		font-size: 14px;
	}
	.__pf .pf-f597dcf8 {
		font-size: 16px;
		 margin-left: 0px;
	}
	.__pf .pf-260d7cf8 {
		font-size: 14px;
	}
	.__pf .pf-7cf89c16 {
		font-size: 14px;
	}
	.__pf .pf-9c164a02 {
		font-size: 14px;
	}
	.__pf .pf-7aad5e23 {
		padding-left: 20px;
	}
	.__pf .pf-413d0048 {
		font-size: 24px;
		 margin-bottom: 0px;
		 padding-bottom: 20px;
	}
	.__pf .pf-56ba14b1 {
		font-size: 16px;
	}
	.__pf .pf-c8332468 {
		font-size: 16px;
	}
	.__pf .pf-7bb9c0f2 {
		font-size: 16px;
	}
	.__pf .pf-c0f2194b {
		font-size: 16px;
	}
	.__pf .pf-194bad63 {
		font-size: 16px;
	}
	.__pf .pf-520284da {
		margin-left: 70px;
		 margin-right: 50px;
	}
	.__pf .pf-3ae25270 {
		font-size: 16px;
	}
	.__pf .pf-5270e00d {
		font-size: 16px;
		 padding-top: 10px;
	}
	.__pf .pf-61f9ebe2 {
		font-size: 18px;
	}
	.__pf .pf-ebe225f1 {
		font-size: 14px;
	}
	.__pf .pf-25f13750 {
		font-size: 18px;
	}
	.__pf .pf-37503a60 {
		font-size: 14px;
	}
	.__pf .pf-3a60eb2e {
		font-size: 18px;
	}
	.__pf .pf-eb2e2df7 {
		font-size: 14px;
	}
	.__pf .pf-2df79407 {
		font-size: 18px;
	}
	.__pf .pf-9407f588 {
		font-size: 14px;
	}
	.__pf .pf-2368d721 {
		font-size: 16px;
	}
	.__pf .pf-d1e8bcc6 {
		font-size: 18px;
	}
	.__pf .pf-05c0dca1 {
		font-size: 14px;
	}
	.__pf .pf-dca18e5d {
		font-size: 14px;
	}
	.__pf .pf-8e5d4f0f {
		font-size: 14px;
	}
	.__pf .pf-4f0f5a33 {
		font-size: 14px;
	}
	.__pf .pf-d1049290 {
		font-size: 14px;
	}
	.__pf .pf-2e23731f {
		font-size: 18px;
	}
	.__pf .pf-c8a9df98 {
		font-size: 14px;
	}
	.__pf .pf-1a931f26 {
		font-size: 14px;
	}
	.__pf .pf-b78fb86f {
		font-size: 18px;
		 padding-left: 0px;
	}
	.__pf .pf-68ccd1cd {
		font-size: 14px;
	}
	.__pf .pf-d1cdcb61 {
		font-size: 14px;
	}
	.__pf .pf-cb610907 {
		font-size: 14px;
	}
	.__pf .pf-0907578f {
		font-size: 14px;
	}
	.__pf .pf-a783a325 {
		font-size: 18px;
		 padding-left: 0px;
	}
	.__pf .pf-2d6bcffd {
		font-size: 14px;
	}
	.__pf .pf-cffd5673 {
		font-size: 14px;
	}
	.__pf .pf-b26edc4a {
		font-size: 14px;
	}
	.__pf .pf-e858453b {
		font-size: 14px;
		 margin-right: 50px;
		 text-align: justify;
	}
	.__pf .pf-99088d45 {
		font-size: 24px;
		 margin-bottom: 0px;
		 padding-bottom: 20px;
	}
	.__pf .pf-dd16a3d9 {
		font-size: 16px;
		 padding-top: 10px;
	}
	.__pf .pf-12ccce2e {
		font-size: 16px;
		 padding-top: 10px;
	}
	.__pf .pf-210363cc {
		font-size: 18px;
		 padding-top: 10px;
	}
	.__pf .pf-8e2d1925 {
		background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/14/assets/pf-39082e30--IMG5699-1-Edited-1.jpg?v=1582652349");
	}
	.__pf .pf-1925723d {
		background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/14/assets/pf-34d7fad7--IMG5698-2-Edited.jpg?v=1582652497");
	}
}
						