/* PageFly Element Styles */
						.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.iVVzrr { position: relative; list-style: inherit; margin: 0 0 var(--line-spacing); }
.iVVzrr:last-child { margin: 0px; }
.iVVzrr::before { content: ""; display: inline-block; width: var(--text-indent); }
.iVVzrr > i { padding: 5px; margin-right: 5px; }
.iVVzrr > span { display: inline; }
.bMMcvF { margin: 0px; padding: 10px; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-4119880b {
		font-size: 48px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 margin-top: 0px;
		 font-weight: 700;
		 padding-top: 0px;
		 color: rgb(0, 0, 0);
		 margin-bottom: 0px;
	}
	.__pf .pf-7642ca4e {
		font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 margin-top: 0px;
		 font-weight: 700;
		 padding-top: 0px;
		 color: rgb(0, 0, 0);
		 font-size: 35px;
		 margin-bottom: 0px;
	}
	.__pf .pf-fc53cbcb {
		background-position: 50% 0%;
		 text-align: center;
		 margin-top: 0px;
		 padding-bottom: 300px;
		 background-size: cover;
		 background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-37f2d126--Sustainable-living-image.jpg?v=1609624931");
		 padding-top: 0px;
	}
	.__pf .pf-7ff7a7af {
		font-family: "Source Sans Pro";
		 font-size: 14px;
		 padding-left: 50px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-f92f58fa {
		padding-bottom: 0px;
		 padding-top: 15px;
	}
	.__pf .pf-77c4cb64 {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Source Sans Pro";
		 font-size: 20px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-cb646fb8 {
		margin-top: 20px;
	}
	.__pf .pf-b8a7d3dd {
		padding-top: 0px;
		 padding-bottom: 0px;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-ee837935 {
		font-family: "Source Sans Pro";
		 margin: 30px 50px 20px;
		 font-size: 25px;
		 font-weight: 700;
		 text-align: center;
		 color: rgb(74, 74, 74);
		 letter-spacing: 0.5px;
		 line-height: 2em;
	}
	.__pf .pf-fe2ee3fa {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Source Sans Pro";
		 font-size: 20px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-5ac7f28f {
		margin-top: 0px;
	}
	.__pf .pf-bd5de996 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-f39e48d6 {
		padding-right: 50px;
		 margin: 0px 50px 0px 0px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 font-size: 16px;
		 text-align: center;
		 padding-left: 50px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-48d6ea5f {
		font-family: "Source Sans Pro";
		 margin: 0px 0px 20px;
		 font-size: 16px;
		 font-weight: 700;
		 text-align: center;
		 color: rgb(237, 115, 50);
	}
	.__pf .pf-ea5f5bba {
		font-family: "Source Sans Pro";
		 margin: 0px 0px 20px;
		 font-size: 16px;
		 font-weight: 700;
		 text-align: center;
		 color: rgb(237, 115, 50);
	}
	.__pf .pf-96c427a0 {
		font-family: "Source Sans Pro";
		 margin: 0px 0px 20px;
		 font-size: 16px;
		 font-weight: 700;
		 text-align: center;
		 color: rgb(237, 115, 50);
	}
	.__pf .pf-27a0d66b {
		font-family: "Source Sans Pro";
		 margin: 0px 0px 20px;
		 font-size: 16px;
		 font-weight: 700;
		 text-align: center;
		 color: rgb(237, 115, 50);
	}
	.__pf .pf-2168df93 {
		font-family: "Source Sans Pro";
		 margin: 0px 0px 20px;
		 font-size: 16px;
		 font-weight: 700;
		 text-align: center;
		 color: rgb(237, 115, 50);
	}
	.__pf .pf-df931f5a {
		font-family: "Source Sans Pro";
		 margin: 0px 0px 20px;
		 font-size: 16px;
		 font-weight: 700;
		 text-align: center;
		 color: rgb(237, 115, 50);
	}
	.__pf .pf-44d583da {
		font-family: "Source Sans Pro";
		 margin: 0px 0px 20px;
		 font-size: 16px;
		 font-weight: 700;
		 text-align: center;
		 color: rgb(237, 115, 50);
	}
	.__pf .pf-ddc616c0 {
		margin-left: 50px;
		 margin-right: 50px;
		 margin-top: -15px;
	}
	.__pf .pf-16c0ac70 {
		padding-bottom: 0px;
	}
	.__pf .pf-ee4cec04 {
		font-family: "Source Sans Pro";
		 margin: 0px 50px;
		 font-size: 20px;
		 font-weight: 700;
		 text-align: left;
		 color: rgb(74, 74, 74);
		 line-height: 2em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-d7f19e5e {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-top: 20px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-51a1de08 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-306fea3d {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-abbadae1 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-c2bcfd4b {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-bfd2f675 {
		list-style-position: outside;
		 list-style-type: disc;
		 padding: 0px 120px;
		 font-family: "Source Sans Pro";
		 font-size: 16px;
		 letter-spacing: 0.5px;
		 line-height: 2em;
		 color: rgb(74, 74, 74);
		 margin-top: 20px;
	}
	.__pf .pf-ce3dfb21 {
		padding: 20px;
		 margin: 20px 120px 0px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 color: rgb(74, 74, 74);
		 border-style: solid;
		 border-color: rgb(74, 74, 74);
		 border-width: 2px;
		 border-radius: 10px;
		 font-size: 16px;
	}
	.__pf .pf-f675c3bd {
		margin-top: 0px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-3a1215d6 {
		font-family: "Source Sans Pro";
		 margin: 0px 50px;
		 font-size: 20px;
		 font-weight: 700;
		 text-align: left;
		 color: rgb(74, 74, 74);
		 line-height: 2em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-15d6d010 {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-top: 20px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-d010d79f {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-d79f9f44 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-9f44ce4d {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-ce4d0e15 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-0e15cb00 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-cb00bbba {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-bbbaec51 {
		list-style-position: outside;
		 list-style-type: disc;
		 padding: 0px 120px;
		 font-family: "Source Sans Pro";
		 font-size: 16px;
		 letter-spacing: 0.5px;
		 line-height: 2em;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-ec513317 {
		margin-top: 0px;
		 padding-left: 0px;
		 padding-right: 0px;
		 text-align: center;
	}
	.__pf .pf-3a8125f0 {
		padding-top: 0px;
	}
	.__pf .pf-302cd725 {
		font-family: "Source Sans Pro";
		 margin: 0px 50px;
		 font-size: 20px;
		 font-weight: 700;
		 text-align: left;
		 color: rgb(74, 74, 74);
		 line-height: 2em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-5c893c7b {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-3c7bc4eb {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-c4ebd90d {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-d90d9fcd {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-9fcdac5d {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-ac5df9cf {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-e5d74934 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-ac471216 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-f9cfac1f {
		list-style-position: outside;
		 list-style-type: disc;
		 padding: 0px 120px;
		 font-family: "Source Sans Pro";
		 font-size: 16px;
		 letter-spacing: 0.5px;
		 line-height: 2em;
		 color: rgb(74, 74, 74);
		 margin-top: 20px;
	}
	.__pf .pf-ac1f4594 {
		margin-top: 0px;
		 padding-left: 0px;
		 padding-right: 0px;
		 text-align: center;
	}
	.__pf .pf-7de2fdec {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-fdecf213 {
		text-align: center;
	}
	.__pf .pf-6afe2e91 {
		font-family: "Source Sans Pro";
		 margin: 0px 50px;
		 font-size: 20px;
		 font-weight: 700;
		 text-align: left;
		 color: rgb(74, 74, 74);
		 line-height: 2em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-aa96b37a {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-b37ada24 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-da245727 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-572720f2 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-712c37ef {
		list-style-position: outside;
		 list-style-type: disc;
		 padding: 0px 120px;
		 font-family: "Source Sans Pro";
		 font-size: 16px;
		 letter-spacing: 0.5px;
		 line-height: 2em;
		 color: rgb(74, 74, 74);
		 margin-top: 20px;
	}
	.__pf .pf-37ef9e11 {
		margin-top: 0px;
		 padding-left: 0px;
		 padding-right: 0px;
		 text-align: center;
	}
	.__pf .pf-7259acaf {
		font-family: "Source Sans Pro";
		 margin: 0px 50px;
		 font-size: 20px;
		 font-weight: 700;
		 text-align: left;
		 color: rgb(74, 74, 74);
		 line-height: 2em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-acaf8fee {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-fae5705e {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-8fee5df6 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-5df67b46 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-7b468b44 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-8b4412a5 {
		list-style-position: outside;
		 list-style-type: disc;
		 padding: 0px 120px;
		 font-family: "Source Sans Pro";
		 font-size: 16px;
		 letter-spacing: 0.5px;
		 line-height: 2em;
		 color: rgb(74, 74, 74);
		 margin-top: 20px;
	}
	.__pf .pf-12a5f43b {
		margin-top: 0px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-060bb4d6 {
		padding: 20px;
		 margin: 0px 120px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: center;
		 color: rgb(74, 74, 74);
		 border-style: solid;
		 border-color: rgb(74, 74, 74);
		 border-width: 2px;
		 border-radius: 10px;
		 font-size: 16px;
	}
	.__pf .pf-ef3cef9d {
		margin-top: -15px;
		 text-align: center;
	}
	.__pf .pf-a763f44d {
		font-family: "Source Sans Pro";
		 margin: 0px 50px;
		 font-size: 20px;
		 font-weight: 700;
		 text-align: left;
		 color: rgb(74, 74, 74);
		 line-height: 2em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-206bf5b8 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-7bb17263 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-c9eb1846 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-c75ce9c5 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-99ee5dec {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-b237a091 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-5decc6c4 {
		list-style-position: outside;
		 list-style-type: disc;
		 padding: 0px 120px;
		 font-family: "Source Sans Pro";
		 font-size: 16px;
		 letter-spacing: 0.5px;
		 line-height: 2em;
		 color: rgb(74, 74, 74);
		 margin-top: 20px;
	}
	.__pf .pf-c6c47261 {
		margin-top: 0px;
		 padding-left: 0px;
		 padding-right: 0px;
		 text-align: center;
	}
	.__pf .pf-d1263c4f {
		width: 800px;
		 height: auto;
	}
	.__pf .pf-e260e323 {
		text-align: center;
	}
	.__pf .pf-914de260 {
		padding-right: 0px;
		 margin-top: -15px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 color: rgb(74, 74, 74);
		 font-size: 16px;
		 padding-left: 0px;
		 text-align: center;
	}
	.__pf .pf-bcb67e71 {
		margin-top: -15px;
	}
	.__pf .pf-34b51c96 {
		font-family: "Source Sans Pro";
		 margin: 0px 50px;
		 font-size: 20px;
		 font-weight: 700;
		 text-align: left;
		 color: rgb(74, 74, 74);
		 line-height: 2em;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-5837f2d1 {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-top: 20px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-9e039558 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-9558af86 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-af8601e8 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-01e87ba5 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-7ba58e3e {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-8e3e5ba1 {
		text-align: justify;
		 font-size: 18px;
	}
	.__pf .pf-5ba18702 {
		list-style-position: outside;
		 list-style-type: disc;
		 padding: 0px 120px;
		 font-family: "Source Sans Pro";
		 font-size: 16px;
		 letter-spacing: 0.5px;
		 line-height: 2em;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-870209cc {
		margin-top: 0px;
		 padding-left: 0px;
		 padding-right: 0px;
		 text-align: center;
	}
	.__pf .pf-134e985f {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-top: 0px;
		 font-family: "Source Sans Pro";
		 font-size: 25px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: center;
		 margin-bottom: 30px;
		 font-weight: 700;
	}
	.__pf .pf-959e75bb {
		padding-top: 0px;
		 padding-bottom: 0px;
		 letter-spacing: 0.5px;
		 margin-top: 20px;
	}
	.__pf .pf-b9bd9fa2 {
		background-color: rgb(240, 127, 8);
		 color: rgb(255, 255, 255);
		 font-family: "Source Sans Pro";
		 font-size: 16px;
		 padding: 15px 30px;
		 letter-spacing: 0.3px;
		 font-weight: 700;
	}
	.__pf .pf-b9bd9fa2:hover {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
	}
	.__pf .pf-9fa23fe3 {
		padding: 115px 20px;
		 background-size: cover;
		 background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-f6940b46--Arms-ofandes-sustainable-clothing-blog.jpg?v=1595420971");
		 background-position: 50% 50%;
	}
	.__pf .pf-3c107b96 {
		background-color: rgb(240, 127, 8);
		 color: rgb(255, 255, 255);
		 font-family: "Source Sans Pro";
		 font-size: 16px;
		 font-weight: 700;
		 padding: 15px 30px;
		 letter-spacing: 0.3px;
	}
	.__pf .pf-3c107b96:hover {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
	}
	.__pf .pf-7b9612db {
		padding: 115px 20px;
		 background-size: cover;
		 background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-d538b34f--pile-of-arms-of-andes-clothes-cropped.jpg?v=1602511629");
		 background-position: 50% 50%;
	}
	.__pf .pf-12db9b9c {
		text-align: center;
		 font-family: "Source Sans Pro";
	}
	.__pf .pf-9b9cf3f0 {
		padding-top: 35px;
		 padding-bottom: 65px;
	}
	.__pf .pf-6bf3d89f {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-76e3cd3f {
		text-align: center;
	}
	.__pf .pf-cd3f92f0 {
		padding-right: 0px;
		 margin-top: -15px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 color: rgb(74, 74, 74);
		 font-size: 16px;
		 padding-left: 0px;
		 text-align: center;
	}
	.__pf .pf-8de9b590 {
		margin-top: -15px;
	}
	.__pf .pf-e1dfadff {
		text-align: center;
	}
	.__pf .pf-c529dc85 {
		font-size: 14px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: center;
	}
	.__pf .pf-21ff8bff {
		background-color: rgb(255, 255, 255);
		 color: rgb(237, 115, 50);
		 font-size: 14px;
		 font-family: "Source Sans Pro";
		 border-style: solid;
		 border-color: rgb(237, 115, 50);
		 border-width: 0px 0px 2px;
		 padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 10px;
	}
	.__pf .pf-44ae9021 {
		background-color: rgb(255, 255, 255);
		 color: rgb(237, 115, 50);
		 font-size: 14px;
		 font-family: "Source Sans Pro";
		 border-style: solid;
		 border-color: rgb(237, 115, 50);
		 border-width: 0px 0px 2px;
		 padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 10px;
	}
	.__pf .pf-2d94bb84 {
		background-color: rgb(255, 255, 255);
		 color: rgb(237, 115, 50);
		 font-size: 14px;
		 font-family: "Source Sans Pro";
		 border-style: solid;
		 border-color: rgb(237, 115, 50);
		 border-width: 0px 0px 2px;
		 padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 10px;
	}
	.__pf .pf-0e00ebd6 {
		background-color: rgb(255, 255, 255);
		 color: rgb(237, 115, 50);
		 font-size: 14px;
		 font-family: "Source Sans Pro";
		 border-style: solid;
		 border-color: rgb(237, 115, 50);
		 border-width: 0px 0px 2px;
		 padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 10px;
	}
	.__pf .pf-66e6e058 {
		background-color: rgb(255, 255, 255);
		 color: rgb(237, 115, 50);
		 font-size: 14px;
		 font-family: "Source Sans Pro";
		 border-style: solid;
		 border-color: rgb(237, 115, 50);
		 border-width: 0px 0px 2px;
		 padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 10px;
	}
	.__pf .pf-5e7502cf {
		background-color: rgb(255, 255, 255);
		 color: rgb(237, 115, 50);
		 font-size: 14px;
		 font-family: "Source Sans Pro";
		 border-style: solid;
		 border-color: rgb(237, 115, 50);
		 border-width: 0px 0px 2px;
		 padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 10px;
	}
	.__pf .pf-25ba7a14 {
		background-color: rgb(255, 255, 255);
		 color: rgb(237, 115, 50);
		 font-size: 14px;
		 font-family: "Source Sans Pro";
		 border-style: solid;
		 border-color: rgb(237, 115, 50);
		 border-width: 0px 0px 2px;
		 padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 10px;
	}
	.__pf .pf-3f61ef4e {
		background-color: rgb(255, 255, 255);
		 color: rgb(237, 115, 50);
		 font-size: 14px;
		 font-family: "Source Sans Pro";
		 border-style: solid;
		 border-color: rgb(237, 115, 50);
		 border-width: 0px 0px 2px;
		 padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 10px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-4119880b {
		font-size: 35px;
		 padding-top: 0px;
		 margin-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-7642ca4e {
		padding-top: 0px;
		 margin-top: 0px;
		 padding-bottom: 0px;
		 font-size: 20px;
	}
	.__pf .pf-4e41fc53 {
		padding-top: 0px;
		 background-position: 100% 0%;
		 background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-fc53cbcb {
		background-position: 100% 50%;
		 background-size: cover;
		 padding-bottom: 150px;
		 padding-top: 0px;
	}
	.__pf .pf-7ff7a7af {
		padding-left: 0px;
		 font-size: 12px;
	}
	.__pf .pf-f92f58fa {
		background-position: 0% 50%;
		 background-size: cover;
	}
	.__pf .pf-77c4cb64 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-ee837935 {
		font-size: 16px;
		 margin: 20px 10px 20px 0px;
	}
	.__pf .pf-fe2ee3fa {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-f39e48d6 {
		font-size: 12px;
		 margin-right: 0px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-48d6ea5f {
		font-size: 14px;
		 margin: 10px 10px 10px 0px;
	}
	.__pf .pf-ea5f5bba {
		font-size: 14px;
		 margin: 10px 10px 10px 0px;
	}
	.__pf .pf-96c427a0 {
		font-size: 14px;
		 margin: 10px 10px 10px 0px;
	}
	.__pf .pf-40e1d249 {
		margin-top: -15px;
	}
	.__pf .pf-27a0d66b {
		font-size: 14px;
		 margin: 10px 10px 10px 0px;
	}
	.__pf .pf-2168df93 {
		font-size: 14px;
		 margin: 10px 10px 10px 0px;
	}
	.__pf .pf-d2490d79 {
		margin-top: -20px;
	}
	.__pf .pf-df931f5a {
		font-size: 14px;
		 margin: 10px 10px 10px 0px;
	}
	.__pf .pf-44d583da {
		font-size: 14px;
		 margin: 10px 10px 10px 0px;
	}
	.__pf .pf-0d792571 {
		margin-top: -20px;
	}
	.__pf .pf-ddc616c0 {
		margin-left: -15px;
		 margin-right: -15px;
	}
	.__pf .pf-16c0ac70 {
		padding-top: 0px;
	}
	.__pf .pf-ee4cec04 {
		font-size: 14px;
		 margin: 0px 10px 0px 0px;
	}
	.__pf .pf-d7f19e5e {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-51a1de08 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-306fea3d {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-abbadae1 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-c2bcfd4b {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-bfd2f675 {
		font-size: 12px;
		 padding-left: 10px;
		 padding-right: 0px;
	}
	.__pf .pf-ce3dfb21 {
		font-size: 10px;
		 padding: 5px;
		 margin-top: 20px;
		 margin-left: 10px;
		 margin-right: 10px;
	}
	.__pf .pf-adff189a {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-3a1215d6 {
		font-size: 14px;
		 margin: 10px 10px 0px 0px;
	}
	.__pf .pf-15d6d010 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-d010d79f {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-d79f9f44 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-9f44ce4d {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-ce4d0e15 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-0e15cb00 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-cb00bbba {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-bbbaec51 {
		font-size: 12px;
		 padding-left: 10px;
		 padding-right: 0px;
	}
	.__pf .pf-3a8125f0 {
		padding-bottom: 0px;
	}
	.__pf .pf-302cd725 {
		font-size: 14px;
		 margin: 0px 10px 0px 0px;
	}
	.__pf .pf-5c893c7b {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-3c7bc4eb {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-c4ebd90d {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-d90d9fcd {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-9fcdac5d {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-ac5df9cf {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-e5d74934 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-ac471216 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-f9cfac1f {
		font-size: 12px;
		 padding-left: 10px;
		 padding-right: 0px;
	}
	.__pf .pf-39e58bd7 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-7de2fdec {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-fdecf213 {
		margin-left: -20px;
	}
	.__pf .pf-f213d0d1 {
		margin-right: -50px;
	}
	.__pf .pf-0c157de2 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-6afe2e91 {
		font-size: 14px;
		 margin: 0px 10px 0px 0px;
	}
	.__pf .pf-aa96b37a {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-b37ada24 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-da245727 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-572720f2 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-712c37ef {
		font-size: 12px;
		 padding-left: 10px;
		 padding-right: 0px;
	}
	.__pf .pf-07dd6b93 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-7259acaf {
		font-size: 14px;
		 margin: 0px 10px 0px 0px;
	}
	.__pf .pf-acaf8fee {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-fae5705e {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-8fee5df6 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-5df67b46 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-7b468b44 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-8b4412a5 {
		font-size: 12px;
		 padding-left: 10px;
		 padding-right: 0px;
	}
	.__pf .pf-060bb4d6 {
		font-size: 12px;
		 padding: 5px;
		 margin-top: 0px;
		 margin-left: 10px;
		 margin-right: 10px;
	}
	.__pf .pf-2bbff267 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-a763f44d {
		font-size: 14px;
		 margin: 0px 10px 0px 0px;
	}
	.__pf .pf-206bf5b8 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-7bb17263 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-c9eb1846 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-c75ce9c5 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-99ee5dec {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-b237a091 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-5decc6c4 {
		font-size: 12px;
		 padding-left: 10px;
		 padding-right: 0px;
	}
	.__pf .pf-47ff59c6 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-d1263c4f {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-e323862f {
		margin-right: -50px;
		 margin-left: -30px;
	}
	.__pf .pf-914de260 {
		font-size: 10px;
		 padding-left: 0px;
		 padding-right: 0px;
		 margin: -15px -15px 0px;
	}
	.__pf .pf-bcb67e71 {
		margin-top: -15px;
	}
	.__pf .pf-862f2022 {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-34b51c96 {
		font-size: 14px;
		 margin: 10px 10px 0px 0px;
	}
	.__pf .pf-5837f2d1 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-9e039558 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-9558af86 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-af8601e8 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-01e87ba5 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-7ba58e3e {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-8e3e5ba1 {
		text-align: left;
		 font-size: 12px;
	}
	.__pf .pf-5ba18702 {
		font-size: 12px;
		 padding-left: 10px;
		 padding-right: 0px;
	}
	.__pf .pf-085e1273 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-134e985f {
		font-size: 16px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-959e75bb {
		padding-top: 0px;
	}
	.__pf .pf-b9bd9fa2 {
		font-size: 12px;
		 padding-right: 10px;
		 padding-left: 10px;
	}
	.__pf .pf-9fa23fe3 {
		background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-f6940b46--Arms-ofandes-sustainable-clothing-blog.jpg?v=1595420971&selected");
		 padding-top: 90px;
		 padding-bottom: 90px;
		 background-position: 50% 50%;
	}
	.__pf .pf-3c107b96 {
		font-size: 12px;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-7b9612db {
		background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-d538b34f--pile-of-arms-of-andes-clothes-cropped.jpg?v=1602511629&selected");
		 padding-top: 90px;
		 padding-bottom: 90px;
		 background-position: 50% 50%;
		 background-size: cover;
	}
	.__pf .pf-9b9cf3f0 {
		padding-top: 15px;
		 padding-bottom: 45px;
	}
	.__pf .pf-6bf3d89f {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-92f08de9 {
		margin-right: -50px;
		 margin-left: -30px;
	}
	.__pf .pf-cd3f92f0 {
		font-size: 10px;
		 padding-left: 0px;
		 padding-right: 0px;
		 margin: -15px -15px 0px;
	}
	.__pf .pf-8de9b590 {
		margin-top: -15px;
	}
	.__pf .pf-402e62a3 {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-fc53cbcb {
		background-position: 50% 50%;
		 text-align: center;
		 background-size: cover;
		 padding-top: 0px;
		 padding-bottom: 250px;
	}
	.__pf .pf-77c4cb64 {
		font-size: 18px;
	}
	.__pf .pf-ee837935 {
		font-size: 22px;
	}
	.__pf .pf-fe2ee3fa {
		font-size: 18px;
	}
	.__pf .pf-ee4cec04 {
		font-size: 18px;
	}
	.__pf .pf-d7f19e5e {
		font-size: 16px;
	}
	.__pf .pf-51a1de08 {
		font-size: 16px;
	}
	.__pf .pf-306fea3d {
		font-size: 16px;
	}
	.__pf .pf-abbadae1 {
		font-size: 16px;
	}
	.__pf .pf-c2bcfd4b {
		font-size: 16px;
	}
	.__pf .pf-ce3dfb21 {
		font-size: 16px;
	}
	.__pf .pf-3a1215d6 {
		font-size: 18px;
	}
	.__pf .pf-15d6d010 {
		font-size: 16px;
	}
	.__pf .pf-d010d79f {
		font-size: 16px;
	}
	.__pf .pf-d79f9f44 {
		font-size: 16px;
	}
	.__pf .pf-9f44ce4d {
		font-size: 16px;
	}
	.__pf .pf-ce4d0e15 {
		font-size: 16px;
	}
	.__pf .pf-0e15cb00 {
		font-size: 16px;
	}
	.__pf .pf-cb00bbba {
		font-size: 16px;
	}
	.__pf .pf-302cd725 {
		font-size: 18px;
	}
	.__pf .pf-5c893c7b {
		font-size: 16px;
	}
	.__pf .pf-3c7bc4eb {
		font-size: 16px;
	}
	.__pf .pf-c4ebd90d {
		font-size: 16px;
	}
	.__pf .pf-d90d9fcd {
		font-size: 16px;
	}
	.__pf .pf-9fcdac5d {
		font-size: 16px;
	}
	.__pf .pf-ac5df9cf {
		font-size: 16px;
	}
	.__pf .pf-e5d74934 {
		font-size: 16px;
	}
	.__pf .pf-ac471216 {
		font-size: 16px;
	}
	.__pf .pf-6afe2e91 {
		font-size: 18px;
	}
	.__pf .pf-aa96b37a {
		font-size: 16px;
	}
	.__pf .pf-b37ada24 {
		font-size: 16px;
	}
	.__pf .pf-da245727 {
		font-size: 16px;
	}
	.__pf .pf-572720f2 {
		font-size: 16px;
	}
	.__pf .pf-7259acaf {
		font-size: 18px;
	}
	.__pf .pf-acaf8fee {
		font-size: 16px;
	}
	.__pf .pf-fae5705e {
		font-size: 16px;
	}
	.__pf .pf-8fee5df6 {
		font-size: 16px;
	}
	.__pf .pf-5df67b46 {
		font-size: 16px;
	}
	.__pf .pf-7b468b44 {
		font-size: 16px;
	}
	.__pf .pf-060bb4d6 {
		font-size: 16px;
	}
	.__pf .pf-a763f44d {
		font-size: 18px;
	}
	.__pf .pf-206bf5b8 {
		font-size: 16px;
	}
	.__pf .pf-7bb17263 {
		font-size: 16px;
	}
	.__pf .pf-c9eb1846 {
		font-size: 16px;
	}
	.__pf .pf-c75ce9c5 {
		font-size: 16px;
	}
	.__pf .pf-99ee5dec {
		font-size: 16px;
	}
	.__pf .pf-b237a091 {
		font-size: 16px;
	}
	.__pf .pf-914de260 {
		font-size: 16px;
	}
	.__pf .pf-34b51c96 {
		font-size: 18px;
	}
	.__pf .pf-5837f2d1 {
		font-size: 16px;
	}
	.__pf .pf-9e039558 {
		font-size: 16px;
	}
	.__pf .pf-9558af86 {
		font-size: 16px;
	}
	.__pf .pf-af8601e8 {
		font-size: 16px;
	}
	.__pf .pf-01e87ba5 {
		font-size: 16px;
	}
	.__pf .pf-7ba58e3e {
		font-size: 16px;
	}
	.__pf .pf-8e3e5ba1 {
		font-size: 16px;
	}
	.__pf .pf-9fa23fe3 {
		background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-f6940b46--Arms-ofandes-sustainable-clothing-blog.jpg?v=1595420971&selected");
	}
	.__pf .pf-7b9612db {
		background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-d538b34f--pile-of-arms-of-andes-clothes-cropped.jpg?v=1602511629&selected");
		 background-size: cover;
	}
	.__pf .pf-cd3f92f0 {
		font-size: 16px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-4119880b {
		padding-top: 0px;
		 font-size: 40px;
		 margin-top: 0px;
	}
	.__pf .pf-7642ca4e {
		padding-top: 0px;
		 font-size: 30px;
	}
	.__pf .pf-fc53cbcb {
		background-position: 100% 50%;
		 padding-top: 0px;
		 padding-bottom: 200px;
		 background-size: cover;
	}
	.__pf .pf-7ff7a7af {
		padding-left: 0px;
	}
	.__pf .pf-77c4cb64 {
		font-size: 16px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-ee837935 {
		font-size: 20px;
		 margin-left: 0px;
	}
	.__pf .pf-fe2ee3fa {
		font-size: 16px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-48d6ea5f {
		margin-left: 0px;
		 font-size: 14px;
	}
	.__pf .pf-ea5f5bba {
		margin-left: 0px;
		 font-size: 14px;
	}
	.__pf .pf-96c427a0 {
		margin-left: 0px;
		 font-size: 14px;
	}
	.__pf .pf-27a0d66b {
		margin-left: 0px;
		 font-size: 14px;
	}
	.__pf .pf-2168df93 {
		margin-left: 0px;
		 font-size: 14px;
	}
	.__pf .pf-df931f5a {
		margin-left: 0px;
		 font-size: 14px;
	}
	.__pf .pf-44d583da {
		margin-left: 0px;
		 font-size: 14px;
	}
	.__pf .pf-ddc616c0 {
		margin-right: -15px;
		 margin-left: -15px;
	}
	.__pf .pf-ee4cec04 {
		font-size: 18px;
		 margin-left: 0px;
	}
	.__pf .pf-d7f19e5e {
		font-size: 16px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-51a1de08 {
		font-size: 14px;
	}
	.__pf .pf-306fea3d {
		font-size: 14px;
	}
	.__pf .pf-abbadae1 {
		font-size: 14px;
	}
	.__pf .pf-c2bcfd4b {
		font-size: 14px;
	}
	.__pf .pf-bfd2f675 {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-ce3dfb21 {
		font-size: 12px;
		 padding: 10px;
		 margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-3a1215d6 {
		font-size: 18px;
		 margin-left: 0px;
	}
	.__pf .pf-15d6d010 {
		font-size: 16px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-d010d79f {
		font-size: 14px;
	}
	.__pf .pf-d79f9f44 {
		font-size: 14px;
	}
	.__pf .pf-9f44ce4d {
		font-size: 14px;
	}
	.__pf .pf-ce4d0e15 {
		font-size: 14px;
	}
	.__pf .pf-0e15cb00 {
		font-size: 14px;
	}
	.__pf .pf-cb00bbba {
		font-size: 14px;
	}
	.__pf .pf-bbbaec51 {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-302cd725 {
		font-size: 18px;
		 margin-left: 0px;
	}
	.__pf .pf-5c893c7b {
		font-size: 14px;
	}
	.__pf .pf-3c7bc4eb {
		font-size: 14px;
	}
	.__pf .pf-c4ebd90d {
		font-size: 14px;
	}
	.__pf .pf-d90d9fcd {
		font-size: 14px;
	}
	.__pf .pf-9fcdac5d {
		font-size: 14px;
	}
	.__pf .pf-ac5df9cf {
		font-size: 14px;
	}
	.__pf .pf-e5d74934 {
		font-size: 14px;
	}
	.__pf .pf-ac471216 {
		font-size: 14px;
	}
	.__pf .pf-f9cfac1f {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-6afe2e91 {
		font-size: 18px;
		 margin-left: 0px;
	}
	.__pf .pf-aa96b37a {
		font-size: 14px;
	}
	.__pf .pf-b37ada24 {
		font-size: 14px;
	}
	.__pf .pf-da245727 {
		font-size: 14px;
	}
	.__pf .pf-572720f2 {
		font-size: 14px;
	}
	.__pf .pf-712c37ef {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-7259acaf {
		font-size: 18px;
		 margin-left: 0px;
	}
	.__pf .pf-acaf8fee {
		font-size: 14px;
	}
	.__pf .pf-fae5705e {
		font-size: 14px;
	}
	.__pf .pf-8fee5df6 {
		font-size: 14px;
	}
	.__pf .pf-5df67b46 {
		font-size: 14px;
	}
	.__pf .pf-7b468b44 {
		font-size: 14px;
	}
	.__pf .pf-8b4412a5 {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-060bb4d6 {
		padding: 10px;
		 font-size: 12px;
		 margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-a763f44d {
		font-size: 18px;
		 margin-left: 0px;
	}
	.__pf .pf-206bf5b8 {
		font-size: 14px;
	}
	.__pf .pf-7bb17263 {
		font-size: 14px;
	}
	.__pf .pf-c9eb1846 {
		font-size: 14px;
	}
	.__pf .pf-c75ce9c5 {
		font-size: 14px;
	}
	.__pf .pf-99ee5dec {
		font-size: 14px;
	}
	.__pf .pf-b237a091 {
		font-size: 14px;
	}
	.__pf .pf-5decc6c4 {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-914de260 {
		font-size: 12px;
		 padding-left: 0px;
		 padding-right: 0px;
		 text-align: justify;
	}
	.__pf .pf-34b51c96 {
		font-size: 18px;
		 margin-left: 0px;
	}
	.__pf .pf-5837f2d1 {
		font-size: 16px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-9e039558 {
		font-size: 14px;
	}
	.__pf .pf-9558af86 {
		font-size: 14px;
	}
	.__pf .pf-af8601e8 {
		font-size: 14px;
	}
	.__pf .pf-01e87ba5 {
		font-size: 14px;
	}
	.__pf .pf-7ba58e3e {
		font-size: 14px;
	}
	.__pf .pf-8e3e5ba1 {
		font-size: 14px;
	}
	.__pf .pf-5ba18702 {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-134e985f {
		padding-left: 0px;
		 padding-right: 0px;
		 font-size: 20px;
	}
	.__pf .pf-b9bd9fa2 {
		font-size: 14px;
		 padding-right: 10px;
		 padding-left: 10px;
	}
	.__pf .pf-9fa23fe3 {
		background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-f6940b46--Arms-ofandes-sustainable-clothing-blog.jpg?v=1595420971&selected");
		 background-position: 50% 50%;
		 padding-bottom: 90px;
		 padding-top: 90px;
	}
	.__pf .pf-3c107b96 {
		font-size: 14px;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-7b9612db {
		background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-d538b34f--pile-of-arms-of-andes-clothes-cropped.jpg?v=1602511629&selected");
		 padding-top: 90px;
		 padding-bottom: 90px;
		 background-position: 100% 100%;
	}
	.__pf .pf-cd3f92f0 {
		font-size: 12px;
		 padding-left: 0px;
		 padding-right: 0px;
		 text-align: justify;
	}
}
						