/* PageFly Element Styles */
						.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.iVVzrr { position: relative; list-style: inherit; margin: 0 0 var(--line-spacing); }
.iVVzrr:last-child { margin: 0px; }
.iVVzrr::before { content: ""; display: inline-block; width: var(--text-indent); }
.iVVzrr > i { padding: 5px; margin-right: 5px; }
.iVVzrr > span { display: inline; }
.bMMcvF { margin: 0px; padding: 10px; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-5684635f {
		font-size: 48px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 margin-top: 30px;
		 margin-bottom: 0px;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 padding-top: 0px;
	}
	.__pf .pf-0a43cffe {
		text-align: center;
		 margin-top: 0px;
		 padding-top: 180px;
		 background-size: cover;
		 padding-bottom: 180px;
		 background-position: 100% 0%;
		 background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-0ffbcfe0--pile-of-naturally-dyed-clothes.jpg?v=1606767902");
	}
	.__pf .pf-8e3d6fda {
		font-family: "Source Sans Pro";
		 font-size: 14px;
		 padding-left: 50px;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-74078755 {
		margin-left: 15px;
		 margin-right: 15px;
	}
	.__pf .pf-87555f46 {
		padding-bottom: 0px;
		 padding-top: 15px;
	}
	.__pf .pf-8d83f7d7 {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 18px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-b797e7be {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 20px;
		 margin-bottom: 0px;
		 font-family: "Source Sans Pro";
		 font-size: 20px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: center;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-e7be5869 {
		margin-top: 0px;
		 margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-586977ff {
		margin-left: 15px;
		 margin-right: 15px;
	}
	.__pf .pf-77ff30ae {
		padding-top: 0px;
		 padding-bottom: 0px;
		 letter-spacing: 0.5px;
		 margin-bottom: 20px;
		 margin-top: 40px;
	}
	.__pf .pf-498cf951 {
		font-family: "Source Sans Pro";
		 margin: 0px;
		 font-weight: 700;
		 text-align: center;
		 padding-left: 0px;
		 padding-right: 50px;
		 font-size: 25px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-f9513ce6 {
		margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-3ce63b7e {
		margin-left: 15px;
		 margin-right: 15px;
	}
	.__pf .pf-35aa1fe7 {
		font-family: "Source Sans Pro";
		 margin: 0px 0px 20px;
		 font-size: 20px;
		 font-weight: 700;
		 text-align: left;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-b2f5bb23 {
		padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-6dece3ee {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-3c60fd1c {
		padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-b1a0ef33 {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-f130d062 {
		padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-e001f49d {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-f49d4541 {
		padding-left: 0px;
		 margin-left: 50px;
	}
	.__pf .pf-4541d479 {
		width: 450px;
		 height: auto;
		 border-radius: 50%;
		 border: none;
		 padding: 0px;
		 margin-top: 50px;
	}
	.__pf .pf-d4792539 {
		padding-right: 0px;
		 text-align: right;
		 margin-right: 50px;
	}
	.__pf .pf-253988ff {
		margin-left: 15px;
		 margin-right: 15px;
	}
	.__pf .pf-98f6be84 {
		width: 450px;
		 height: auto;
		 border-radius: 50%;
		 border: none;
		 padding: 0px;
		 margin-top: 50px;
	}
	.__pf .pf-be844452 {
		margin-left: 50px;
	}
	.__pf .pf-d1114935 {
		font-family: "Source Sans Pro";
		 margin: 0px 0px 20px;
		 font-size: 20px;
		 font-weight: 700;
		 text-align: left;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-4ade5f90 {
		padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-5d51512a {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-c9ba0368 {
		padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-56c804f3 {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-2fef46e2 {
		padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-1b8eb6f4 {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-b6f4dd8b {
		padding-right: 0px;
		 text-align: right;
		 margin-right: 50px;
	}
	.__pf .pf-dd8b744e {
		margin-left: 15px;
		 margin-right: 15px;
	}
	.__pf .pf-22ae5e5a {
		font-family: "Source Sans Pro";
		 margin-top: 0px;
		 margin-right: 0px;
		 margin-bottom: 20px;
		 font-size: 20px;
		 font-weight: 700;
		 text-align: left;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-f3f6a5b1 {
		padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-daeb2757 {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-ebdbc9ee {
		padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-ece57cfc {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-3ac0bfb2 {
		padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-a24d2192 {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-21926379 {
		margin-left: 50px;
	}
	.__pf .pf-6379ec26 {
		width: 450px;
		 height: auto;
		 border-radius: 50%;
		 border: none;
		 padding: 0px;
		 margin-top: 30px;
	}
	.__pf .pf-ec263e5d {
		padding-right: 0px;
		 text-align: right;
		 margin-right: 50px;
	}
	.__pf .pf-3e5d695c {
		margin-left: 15px;
		 margin-right: 15px;
	}
	.__pf .pf-5c0be45d {
		width: 450px;
		 height: auto;
		 border-radius: 50%;
		 border: none;
		 padding: 0px;
		 margin-top: 50px;
	}
	.__pf .pf-e45d2d5f {
		margin-left: 50px;
	}
	.__pf .pf-9e2ac170 {
		font-family: "Source Sans Pro";
		 margin: 0px 0px 20px;
		 font-size: 20px;
		 font-weight: 700;
		 text-align: center;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-a6575cfd {
		padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-ce8573cf {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-c11b9036 {
		padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-ae252dfc {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-a4bbdfa4 {
		padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-9b136ba8 {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-6ba844b9 {
		padding-right: 0px;
		 text-align: right;
		 margin-right: 50px;
	}
	.__pf .pf-44b9d33e {
		margin-left: 15px;
		 margin-right: 15px;
	}
	.__pf .pf-2546a29a {
		font-family: "Source Sans Pro";
		 margin-top: 0px;
		 margin-right: 0px;
		 margin-bottom: 20px;
		 font-size: 20px;
		 font-weight: 700;
		 text-align: left;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-a145c482 {
		padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-def7b752 {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-aa9df505 {
		padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-4053ae06 {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-c00c2e13 {
		padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-8909f1e1 {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-f1e12f3e {
		margin-left: 50px;
	}
	.__pf .pf-2f3ec343 {
		width: 450px;
		 height: auto;
		 border-radius: 50%;
		 border: none;
		 padding: 0px;
		 margin-top: 60px;
	}
	.__pf .pf-c34316c5 {
		padding-right: 0px;
		 text-align: right;
		 margin-right: 50px;
	}
	.__pf .pf-16c53c17 {
		margin-left: 15px;
		 margin-right: 15px;
	}
	.__pf .pf-ae80a74b {
		font-family: "Source Sans Pro";
		 margin: 0px 50px 20px;
		 font-size: 22px;
		 font-weight: 700;
		 text-align: left;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-ba1f4d5f {
		padding-left: 0px;
		 padding-right: 0px;
		 margin: 0px 50px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-992a1cdd {
		font-size: 16px;
		 font-family: "Source Sans Pro";
		 letter-spacing: 0.5px;
		 line-height: 2em;
		 text-align: justify;
	}
	.__pf .pf-774c28cd {
		font-size: 16px;
		 font-family: "Source Sans Pro";
		 letter-spacing: 0.5px;
		 line-height: 2em;
		 text-align: justify;
	}
	.__pf .pf-e132e11f {
		font-size: 16px;
		 font-family: "Source Sans Pro";
		 letter-spacing: 0.5px;
		 line-height: 2em;
		 text-align: justify;
	}
	.__pf .pf-e4071126 {
		font-size: 16px;
		 font-family: "Source Sans Pro";
		 letter-spacing: 0.5px;
		 line-height: 2em;
		 text-align: justify;
	}
	.__pf .pf-2ba6fb47 {
		font-size: 16px;
		 font-family: "Source Sans Pro";
		 letter-spacing: 0.5px;
		 line-height: 2em;
		 text-align: justify;
	}
	.__pf .pf-03db7bfa {
		font-size: 16px;
		 font-family: "Source Sans Pro";
		 letter-spacing: 0.5px;
		 line-height: 2em;
		 text-align: justify;
	}
	.__pf .pf-73942a5f {
		font-size: 16px;
		 font-family: "Source Sans Pro";
		 letter-spacing: 0.5px;
		 line-height: 2em;
		 text-align: justify;
	}
	.__pf .pf-2a5f8887 {
		list-style-position: outside;
		 list-style-type: disc;
		 margin-left: 100px;
		 font-family: "Source Sans Pro";
		 font-size: 16px;
		 margin-right: 100px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-c30f2a66 {
		padding-left: 0px;
		 padding-right: 0px;
		 margin: 20px 50px 0px;
		 font-family: "Source Sans Pro";
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-2a66cbb8 {
		margin-top: 0px;
	}
	.__pf .pf-cbb8c5d3 {
		margin-left: 15px;
		 margin-right: 15px;
	}
	.__pf .pf-c5d32a69 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 letter-spacing: 0.5px;
		 margin-top: 20px;
		 margin-bottom: 0px;
	}
	.__pf .pf-2a69cd72 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-cd721497 {
		margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-1497a385 {
		margin-left: 15px;
		 margin-right: 15px;
	}
	.__pf .pf-a385b872 {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-03cf1250 {
		font-family: "Source Sans Pro";
		 margin: 0px 0px 20px;
		 font-size: 25px;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-22abfd56 {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-bottom: 20px;
		 font-family: "Source Sans Pro";
		 font-size: 16px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 margin-top: 0px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-a4de150a {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-bottom: 20px;
		 font-family: "Source Sans Pro";
		 font-size: 16px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 margin-top: 0px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-150afd32 {
		margin-top: 0px;
		 margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-fd32bccf {
		margin-left: 15px;
		 margin-right: 15px;
	}
	.__pf .pf-bccf465e {
		padding-top: 0px;
		 padding-bottom: 0px;
		 letter-spacing: 0.5px;
		 margin-top: 20px;
		 margin-bottom: 20px;
	}
	.__pf .pf-5e9d4bc9 {
		text-align: center;
		 margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-ed2326fe {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-5d592923 {
		font-family: "Source Sans Pro";
		 margin: 0px 0px 20px;
		 font-size: 25px;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-e75dae62 {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-bottom: 20px;
		 font-family: "Source Sans Pro";
		 font-size: 16px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 margin-top: 0px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-87b61fc0 {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-bottom: 20px;
		 font-family: "Source Sans Pro";
		 font-size: 16px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: justify;
		 margin-top: 0px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-1fc0841c {
		margin-top: 0px;
		 margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-841c2ea1 {
		margin-left: 15px;
		 margin-right: 15px;
	}
	.__pf .pf-2ea1f46e {
		padding-top: 0px;
		 padding-bottom: 0px;
		 letter-spacing: 0.5px;
		 margin-top: 20px;
		 margin-bottom: 20px;
	}
	.__pf .pf-2d274d16 {
		padding-left: 0px;
		 padding-right: 0px;
		 margin-top: 0px;
		 font-family: "Source Sans Pro";
		 font-size: 18px;
		 line-height: 2em;
		 letter-spacing: 0.5px;
		 text-align: center;
		 margin-bottom: 10px;
	}
	.__pf .pf-4d169f1a {
		margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-9f1a764c {
		margin-left: 15px;
		 margin-right: 15px;
	}
	.__pf .pf-764c1a82 {
		padding-top: 20px;
		 padding-bottom: 0px;
		 letter-spacing: 0.5px;
		 margin-top: 0px;
	}
	.__pf .pf-6af689e2 {
		background-color: rgb(240, 127, 8);
		 color: rgb(255, 255, 255);
		 font-family: "Source Sans Pro";
		 font-size: 16px;
		 padding: 15px 30px;
		 letter-spacing: 0.3px;
		 font-weight: 700;
	}
	.__pf .pf-6af689e2:hover {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
	}
	.__pf .pf-89e234ad {
		padding: 115px 20px;
		 background-size: cover;
		 background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-faa89485--backpacking-above-the-clouds.jpg?v=1599770688");
		 background-position: 50% 50%;
	}
	.__pf .pf-fe530461 {
		background-color: rgb(240, 127, 8);
		 color: rgb(255, 255, 255);
		 font-family: "Source Sans Pro";
		 font-size: 16px;
		 font-weight: 700;
		 padding: 15px 30px;
		 letter-spacing: 0.3px;
	}
	.__pf .pf-fe530461:hover {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
	}
	.__pf .pf-0461534d {
		padding: 115px 20px;
		 background-size: cover;
		 background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-dc44bf51--alpaca-grazing-freely-in-peru.jpg?v=1601398358");
		 background-position: 50% 50%;
	}
	.__pf .pf-534d7978 {
		text-align: center;
		 font-family: "Source Sans Pro";
	}
	.__pf .pf-797855e7 {
		padding-top: 35px;
		 padding-bottom: 65px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-5684635f {
		font-size: 30px;
		 padding-top: 0px;
		 margin-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-5fd10a43 {
		padding-top: 0px;
		 background-position: 100% 0%;
		 background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-0a43cffe {
		background-position: 0% 50%;
		 background-size: cover;
		 padding-top: 100px;
		 padding-bottom: 100px;
	}
	.__pf .pf-8e3d6fda {
		padding-left: 0px;
	}
	.__pf .pf-74078755 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-8d83f7d7 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-b797e7be {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-e7be5869 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-586977ff {
		margin-left: -15px;
		 margin-right: -15px;
	}
	.__pf .pf-498cf951 {
		margin: 0px;
		 letter-spacing: 0.5px;
		 line-height: 2em;
		 font-size: 18px;
		 padding-right: 0px;
	}
	.__pf .pf-f9513ce6 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-3ce63b7e {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-35aa1fe7 {
		font-size: 14px;
		 margin: 0px;
		 letter-spacing: 0.5px;
		 line-height: 2em;
	}
	.__pf .pf-b2f5bb23 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-6dece3ee {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-3c60fd1c {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-b1a0ef33 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-f130d062 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-e001f49d {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-f49d4541 {
		padding-left: 0px;
		 margin-left: 0px;
	}
	.__pf .pf-4541d479 {
		margin-top: 0px;
		 width: 300px;
		 height: auto;
	}
	.__pf .pf-d4792539 {
		padding-right: 0px;
		 text-align: center;
		 margin-right: 0px;
	}
	.__pf .pf-253988ff {
		margin-left: -15px;
		 margin-right: -15px;
	}
	.__pf .pf-88ff98f6 {
		padding-top: 0px;
	}
	.__pf .pf-98f6be84 {
		width: 300px;
		 height: auto;
		 margin-top: 0px;
	}
	.__pf .pf-be844452 {
		margin-left: 0px;
		 text-align: center;
	}
	.__pf .pf-d1114935 {
		font-size: 16px;
		 margin: 0px;
		 letter-spacing: 0.5px;
		 line-height: 2em;
	}
	.__pf .pf-4ade5f90 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-5d51512a {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-c9ba0368 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-56c804f3 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-2fef46e2 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-1b8eb6f4 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-b6f4dd8b {
		margin-right: 0px;
	}
	.__pf .pf-dd8b744e {
		margin-left: -15px;
		 margin-right: -15px;
	}
	.__pf .pf-22ae5e5a {
		font-size: 16px;
		 margin: 0px;
		 letter-spacing: 0.5px;
		 line-height: 2em;
	}
	.__pf .pf-f3f6a5b1 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-daeb2757 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-ebdbc9ee {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-ece57cfc {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-3ac0bfb2 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-a24d2192 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-21926379 {
		margin-left: 0px;
	}
	.__pf .pf-6379ec26 {
		margin-top: 0px;
		 width: 300px;
		 height: auto;
	}
	.__pf .pf-ec263e5d {
		padding-right: 0px;
		 margin-right: 0px;
		 text-align: center;
	}
	.__pf .pf-3e5d695c {
		margin-left: -15px;
		 margin-right: -15px;
	}
	.__pf .pf-5c0be45d {
		margin-top: 0px;
		 width: 300px;
		 height: auto;
	}
	.__pf .pf-e45d2d5f {
		margin-left: 0px;
		 text-align: center;
	}
	.__pf .pf-9e2ac170 {
		font-size: 16px;
		 margin: 0px;
		 letter-spacing: 0.5px;
		 line-height: 2em;
		 text-align: left;
	}
	.__pf .pf-a6575cfd {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-ce8573cf {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-c11b9036 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-ae252dfc {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-a4bbdfa4 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-9b136ba8 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-6ba844b9 {
		margin-right: 0px;
	}
	.__pf .pf-44b9d33e {
		margin-left: -15px;
		 margin-right: -15px;
	}
	.__pf .pf-2546a29a {
		font-size: 18px;
		 margin: 0px;
		 letter-spacing: 0.5px;
		 line-height: 2em;
	}
	.__pf .pf-a145c482 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-def7b752 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-aa9df505 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-4053ae06 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-c00c2e13 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-8909f1e1 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-f1e12f3e {
		margin-left: 0px;
	}
	.__pf .pf-2f3ec343 {
		margin-top: 0px;
		 width: 300px;
		 height: auto;
	}
	.__pf .pf-c34316c5 {
		padding-right: 0px;
		 margin-right: 0px;
		 text-align: center;
	}
	.__pf .pf-16c53c17 {
		margin-left: -15px;
		 margin-right: -15px;
	}
	.__pf .pf-ae80a74b {
		font-size: 18px;
		 margin: 0px;
		 letter-spacing: 0.5px;
		 line-height: 2em;
	}
	.__pf .pf-ba1f4d5f {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-992a1cdd {
		font-size: 12px;
	}
	.__pf .pf-774c28cd {
		font-size: 12px;
	}
	.__pf .pf-e132e11f {
		font-size: 12px;
	}
	.__pf .pf-e4071126 {
		font-size: 12px;
	}
	.__pf .pf-2ba6fb47 {
		font-size: 12px;
	}
	.__pf .pf-03db7bfa {
		font-size: 12px;
	}
	.__pf .pf-73942a5f {
		font-size: 12px;
	}
	.__pf .pf-2a5f8887 {
		margin-left: 20px;
		 margin-right: 0px;
		 font-size: 12px;
	}
	.__pf .pf-c30f2a66 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-cbb8c5d3 {
		margin-left: -15px;
		 margin-right: -15px;
	}
	.__pf .pf-2a69cd72 {
		width: 100%;
		 height: auto;
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-cd721497 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-1497a385 {
		margin-left: -40px;
		 margin-right: -40px;
	}
	.__pf .pf-03cf1250 {
		font-size: 18px;
		 margin: 0px 0px 20px;
	}
	.__pf .pf-22abfd56 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-a4de150a {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-150afd32 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-fd32bccf {
		margin-left: -15px;
		 margin-right: -15px;
	}
	.__pf .pf-5e9d4bc9 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-4bc9ed23 {
		margin-left: -40px;
		 margin-right: -40px;
	}
	.__pf .pf-5d592923 {
		font-size: 16px;
		 margin: 0px 10px 20px 0px;
	}
	.__pf .pf-e75dae62 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-87b61fc0 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-1fc0841c {
		margin-right: 0px;
		 margin-left: 0px;
	}
	.__pf .pf-841c2ea1 {
		margin-left: -15px;
		 margin-right: -15px;
	}
	.__pf .pf-2d274d16 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-4d169f1a {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-9f1a764c {
		margin-left: -15px;
		 margin-right: -15px;
	}
	.__pf .pf-764c1a82 {
		padding-top: 0px;
	}
	.__pf .pf-6af689e2 {
		font-size: 12px;
	}
	.__pf .pf-89e234ad {
		background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-faa89485--backpacking-above-the-clouds.jpg?v=1599770688&selected");
		 padding-top: 90px;
		 padding-bottom: 90px;
	}
	.__pf .pf-fe530461 {
		font-size: 12px;
	}
	.__pf .pf-0461534d {
		background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-d538b34f--pile-of-arms-of-andes-clothes-cropped.jpg?v=1602511629&selected");
		 padding-top: 90px;
		 padding-bottom: 90px;
	}
	.__pf .pf-797855e7 {
		padding-top: 15px;
		 padding-bottom: 45px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-0a43cffe {
		background-position: 50% 50%;
		 text-align: center;
		 background-size: cover;
		 padding-top: 300px;
		 padding-bottom: 250px;
	}
	.__pf .pf-8d83f7d7 {
		font-size: 18px;
	}
	.__pf .pf-b797e7be {
		font-size: 20px;
	}
	.__pf .pf-2d274d16 {
		font-size: 20px;
	}
	.__pf .pf-89e234ad {
		background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-faa89485--backpacking-above-the-clouds.jpg?v=1599770688&selected");
	}
	.__pf .pf-0461534d {
		background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-d538b34f--pile-of-arms-of-andes-clothes-cropped.jpg?v=1602511629&selected");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-5684635f {
		padding-top: 0px;
		 font-size: 35px;
	}
	.__pf .pf-0a43cffe {
		background-position: 0% 50%;
		 padding-top: 120px;
		 padding-bottom: 120px;
	}
	.__pf .pf-8e3d6fda {
		padding-left: 0px;
	}
	.__pf .pf-74078755 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-87555f46 {
		font-size: 14px;
	}
	.__pf .pf-8d83f7d7 {
		font-size: 16px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-b797e7be {
		font-size: 16px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-e7be5869 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-586977ff {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-498cf951 {
		margin-left: 0px;
		 font-size: 20px;
	}
	.__pf .pf-f9513ce6 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-3ce63b7e {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-35aa1fe7 {
		margin-left: 0px;
		 font-size: 20px;
	}
	.__pf .pf-b2f5bb23 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-6dece3ee {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-3c60fd1c {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-b1a0ef33 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-f130d062 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-e001f49d {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-f49d4541 {
		padding-left: 0px;
		 margin-left: 0px;
	}
	.__pf .pf-4541d479 {
		margin-top: 80px;
	}
	.__pf .pf-d4792539 {
		padding-right: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-253988ff {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-98f6be84 {
		margin-top: 60px;
	}
	.__pf .pf-be844452 {
		margin-left: 0px;
	}
	.__pf .pf-d1114935 {
		margin-left: 0px;
		 font-size: 20px;
	}
	.__pf .pf-4ade5f90 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-5d51512a {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-c9ba0368 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-56c804f3 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-2fef46e2 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-1b8eb6f4 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-b6f4dd8b {
		margin-right: 0px;
	}
	.__pf .pf-dd8b744e {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-22ae5e5a {
		margin-left: 0px;
		 font-size: 20px;
	}
	.__pf .pf-f3f6a5b1 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-daeb2757 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-ebdbc9ee {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-ece57cfc {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-3ac0bfb2 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-a24d2192 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-21926379 {
		margin-left: 0px;
	}
	.__pf .pf-6379ec26 {
		margin-top: 60px;
	}
	.__pf .pf-ec263e5d {
		padding-right: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-3e5d695c {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-5c0be45d {
		margin-top: 60px;
	}
	.__pf .pf-e45d2d5f {
		margin-left: 0px;
	}
	.__pf .pf-9e2ac170 {
		margin-left: 0px;
		 font-size: 20px;
	}
	.__pf .pf-a6575cfd {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-ce8573cf {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-c11b9036 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-ae252dfc {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-a4bbdfa4 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-9b136ba8 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-6ba844b9 {
		margin-right: 0px;
	}
	.__pf .pf-44b9d33e {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-2546a29a {
		margin-left: 0px;
		 font-size: 20px;
	}
	.__pf .pf-a145c482 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-def7b752 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-aa9df505 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-4053ae06 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-c00c2e13 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-8909f1e1 {
		font-size: 14px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-f1e12f3e {
		margin-left: 0px;
	}
	.__pf .pf-2f3ec343 {
		margin-top: 60px;
	}
	.__pf .pf-c34316c5 {
		padding-right: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-16c53c17 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-ae80a74b {
		margin-left: 0px;
		 font-size: 20px;
	}
	.__pf .pf-ba1f4d5f {
		font-size: 16px;
		 padding-left: 0px;
		 padding-right: 0px;
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-992a1cdd {
		font-size: 14px;
	}
	.__pf .pf-774c28cd {
		font-size: 14px;
	}
	.__pf .pf-e132e11f {
		font-size: 14px;
	}
	.__pf .pf-e4071126 {
		font-size: 14px;
	}
	.__pf .pf-2ba6fb47 {
		font-size: 14px;
	}
	.__pf .pf-03db7bfa {
		font-size: 14px;
	}
	.__pf .pf-73942a5f {
		font-size: 14px;
	}
	.__pf .pf-2a5f8887 {
		margin-right: 50px;
		 margin-left: 50px;
		 font-size: 14px;
	}
	.__pf .pf-c30f2a66 {
		font-size: 16px;
		 padding-left: 0px;
		 padding-right: 0px;
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-cbb8c5d3 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-cd721497 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-03cf1250 {
		font-size: 20px;
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-22abfd56 {
		font-size: 16px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-a4de150a {
		font-size: 16px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-150afd32 {
		margin-top: 0px;
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-fd32bccf {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-5e9d4bc9 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-5d592923 {
		font-size: 20px;
		 margin-left: 0px;
	}
	.__pf .pf-e75dae62 {
		font-size: 16px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-87b61fc0 {
		font-size: 16px;
		 padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-1fc0841c {
		margin-top: 0px;
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-841c2ea1 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-2d274d16 {
		padding-left: 0px;
		 padding-right: 0px;
		 font-size: 16px;
	}
	.__pf .pf-4d169f1a {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-6af689e2 {
		font-size: 14px;
	}
	.__pf .pf-89e234ad {
		background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-faa89485--backpacking-above-the-clouds.jpg?v=1599770688&selected");
		 background-position: 50% 50%;
		 padding-bottom: 90px;
		 padding-top: 90px;
	}
	.__pf .pf-fe530461 {
		font-size: 14px;
	}
	.__pf .pf-0461534d {
		background-image: url("https://cdn.shopify.com/s/files/1/0071/4748/7305/t/11/assets/pf-d538b34f--pile-of-arms-of-andes-clothes-cropped.jpg?v=1602511629&selected");
		 padding-top: 90px;
		 padding-bottom: 90px;
	}
}
						